<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
<suite name="RegressionTestSuite" verbose="1" > 
<parameter name="log_dir"  value="C:\workspace\Workspace_Photon\POM\testlogs\"/>
  <test name="UserTests">
    <classes>
      <class name="com.qa.tests.LoginPageTest"/>
      <class name="com.qa.tests.HomePageTest"/>
      <class name="com.qa.tests.SignUpPageTest"/>
  <!--     <class name="com.qa.tests.ContactsPageTest"/> -->
    </classes>
  </test>
</suite>
