<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
<suite name="Suite1" verbose="1" > 
<parameter name="logs"  value="C:\workspace\Workspace_Photon\UITest\logs\"/>
  <test name="Regression1">
    <classes>
      <class name="com.qa.LoginPageTest"/>
      <class name="com.qa.HomePageTest"/>
    </classes>
  </test>
</suite>
